.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;

  /* Make .container a flex container, then use justify-content 
     (affects main axis) to align the flex item to the centre 
     horizontally and align-items (affects cross-axis) to align 
     the flex item to the centre vertically.   
  */
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}